@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinUp {
    0% {
      transform: rotateX(90deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  