---
import BaseLayout from '../layouts/BaseLayout.astro';
import OndasEspectro from '../components/OndasEspectro.jsx';
import SobreMi from '../components/SobreMi.jsx';
import Tecnologias from '../components/Tecnologias.jsx';
import Proyectos from '../components/Proyectos.jsx';

---
<BaseLayout>
	<main class="min-h-screen flex flex-col items-center bg-[#200056] pt-20 pb-12">

    <OndasEspectro client:load />
	<SobreMi client:load />
  <Tecnologias client:load />
  <Proyectos client:load />
  </main>
</BaseLayout>
