---
import "../styles/global.css";
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Martin Martinez</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@400;600&display=swap" rel="stylesheet">

  </head>
  <body class="bg-[#200056] text-white min-h-screen font-sans">
    <slot />
  </body>
</html>
 